#content-container{
    padding-top: 20px;
}
.small-section{
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-top: 7px solid #308403 ;
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 10px;
}

.modal-size{
    width: 1300px;
}

.modal-left{
    border-right: 1px solid #aaaaaa;
    padding-top: 40px;
}



.modal-title{
    color: #308403;
    font-weight: bold;
}

.modal-info {
    margin-top: 8px;
}


.modal-info h6{
    font-weight: 700;
    display: inline-block;
    margin-bottom: 8px;
}

.modal-info p{
    display: inline-block;
    margin: 0px;
    font-weight: 100;
}
.modal-outer{
    margin: 10px 0px 10px 0px;
}


.modal-section{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 5px solid #ffc501 ;
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}



.qwer{
    display: none;
}

.green-border{
    border-top: 4px solid #15a362 ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.yellow-border{
    border-top: 7px solid #ffc501 ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.personal-info h6{
    font-weight: 700;
    display: inline-block;
    margin-bottom: 8px;
}

.personal-info h3{
    margin: 10px 0px 15px 10px;
}

.personal-info p{
    display: inline-block;
    margin: 0px;
    font-weight: 100;
}

#id-pic{
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border: 1px solid #000;
    border-radius: 100%;
}

#signature{
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    margin-top: 60px;
}

.btn-modal{
    margin: 80px 0px 40px 0px;
}

.btn-modal-left{
    margin-top: 15px;
}

.tbl-container{
    margin-top: 20px;
}

.tbl-container nav .nav-link{
    background-color: rgb(238, 238, 238);
    border-top: 2px solid #ffc501;
    border-right: 2px solid #ffc501;
    border-left: 2px solid #ffc501;
    border-bottom: 5px solid #ffc501;
    border-radius: 10px 10px 0px 0px;
    color: black;
    margin-bottom: -5px;
    margin-right: 0px;
}
.tbl-container nav .nav-link:hover{
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #ffc501;
    border-right: 2px solid #ffc501;
    border-left: 2px solid #ffc501;
    border-bottom: 5px solid #ffffff;
    border-radius: 10px 10px 0px 0px;
    color: black;
    margin-bottom: -5px;
    margin-right: 0px;
}

.tbl-container nav .nav-tabs{
    border-color: #ffc501;
    border-width: 5px;   
}

.tbl-container nav .nav-tabs{
    padding-left: 5px;
}

.tbl-container nav .nav-tabs .active{
    border-top: 2px solid #ffc501;
    border-right: 2px solid #ffc501;
    border-left: 2px solid #ffc501;
    border-radius: 10px 10px 0px 0px;
}


h3{
    font-size: 22px;
}


#btn-create {
    background: #308403;
    border: none;
    margin-bottom: 10px;
  }

.btn-green{
    background: #308403;
    border: none;
    color: white;
}

.btn-green:hover{
    background: #308403;
    border: none;
    color: white;
}

.btn-green:active{
    background: #308403;
    border: none;
    color: white;
}


.btn-yellow{
    background: #ffc501;
    border: none;
    color: white;
}

.btn-yellow:hover{
    background: #ffc501;
    border: none;
    color: white;
}

.btn-yellow:active{
    background: #ffc501;
    border: none;
    color: white;
}





.modal-section-privacy-notice{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 5px solid #308403 ;
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}



.modal-size-pri {
    width: 90%;
    
  }

@media (min-width: 768px) {
    .modal-size-pri {
      width: 50%;
    }
  }

.modal-section-privacy-notice{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

 
#cmu-logo{
    width: 70px;
}

.modal-section-privacy-notice h3{
    font-size: 12px;
    margin: 0px;
}

.modal-section-privacy-notice p{
    margin: 0;
    text-align: justify;
}

.modal-section-privacy-notice button{
    background-color: #ffc501;
    border-color: #ffc501;

}


.modal-section-privacy-notice .header{
    margin: 10px 0px 10px 0px;
}

.modal-section-privacy-notice .title{
    margin: 0px 0px 0px 15px;
}

.modal-section-privacy-notice .content-body{
    background-color: #F5F5F5;
    padding: 20px 0px 30px 0px;
}

.modal-section-privacy-notice p{
    padding: 15px 5px 15px 5px;
    font-size: 10px;
}

.modal-section-privacy-notice .content-body h4{
    font-size: 15px;
    font-weight: bold;
}







@media (min-width: 768px) {
    .modal-section-privacy-notice h3{
        font-size: 20px;
        margin: 0px;
    }

    #cmu-logo{
        width: 120px;
        margin: 0px 5px 0px 15px;
    }
    
    .modal-section-privacy-notice .header{
        margin: 10px 0px 10px 0px;
    }

    .modal-section-privacy-notice .title{
        margin: 0px 0px 0px 15px;
    }

    .modal-section-privacy-notice .content-body{
        background-color: #F5F5F5;
        padding: 20px 40px 30px 40px;
    }

    .modal-section-privacy-notice p{
        padding: 20px 40px 40px 40px;
        font-size: 16px;
    }

    .modal-section-privacy-notice .content-body h4{
        font-size: 19px;
        font-weight: bold;
    }

  }


.modal-border{
    border: 0px;
}

.edit-modal .title{
    margin-bottom: 8px;
}

.edit-modal .form-control{
    margin-bottom: 10px;
}

.edit-modal .title-form{
    margin:50px 0px 30px 0px;
}


#transaction-store input[type=text]:read-only {
    background: #fff;
    border:0px;
    width: 100%;
    padding: 0px;
    outline: none;
    border: none;
    cursor: context-menu;
  }

  #transaction-store input[type=text]:focus {
    box-shadow:none;
    cursor: context-menu;
  }
  #transaction-store input[type=text]:hover {
    cursor: context-menu;
  }

  #transaction-store .part{
    background: #fff;
    border:0px;
    font-weight: bold;
    padding: 0px;
  }

  #transaction-store .title{
    font-weight: bold;
  }

  .file-upload{
      margin-top: -10px;
  }

  #transaction-store .input-group{
    margin-bottom: 5px;
    border:0px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }


  .btn-active div{
    display: inline-block;
  }

  .logo-prio{
    height: 45px;
  }


  .input-text-data{
      padding: 0px;
      margin: 0px;
  }

  .img-id{
    border: 1px solid
  }




