#content-container{
    padding-top: 20px;
}
.small-section{
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-top: 7px solid #308403 ;
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 10px;
}

.modal-dialog{
    width: 1300px;
}

.modal-left{
    border-right: 1px solid #aaaaaa;
    padding-top: 40px;
}



.modal-title{
    color: #308403;
    font-weight: bold;
}

.modal-info {
    margin-top: 8px;
}


.modal-info h6{
    font-weight: 700;
    display: inline-block;
    margin-bottom: 8px;
}

.modal-info p{
    display: inline-block;
    margin: 0px;
    font-weight: 100;
}
.modal-outer{
    margin: 10px 0px 10px 0px;
}


.modal-section{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 5px solid #ffc501 ;
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

.qwer{
    display: none;
}

.green-border{
    border-top: 7px solid #308403 ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 10px;
}

.yellow-border{
    border-top: 7px solid #ffc501 ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px -7px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.personal-info h6{
    font-weight: 700;
    display: inline-block;
    margin-bottom: 8px;
}

.personal-info p{
    display: inline-block;
    margin: 0px;
    font-weight: 100;
}

#id-pic{
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border: 1px solid #000;
    border-radius: 100%;
}

#signature{
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    margin-top: 60px;
}

.btn-modal{
    margin: 80px 0px 40px 0px;
}

.btn-modal-left{
    margin-top: 15px;
}

.tbl-container{
    margin-top: 20px;
}

.tbl-container nav .nav-link{
    background-color: rgb(238, 238, 238);
    border-top: 2px solid #ffc501;
    border-right: 2px solid #ffc501;
    border-left: 2px solid #ffc501;
    border-bottom: 5px solid #ffc501;
    border-radius: 10px 10px 0px 0px;
    color: black;
    margin-bottom: -5px;
    margin-right: 0px;
}
.tbl-container nav .nav-link:hover{
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #ffc501;
    border-right: 2px solid #ffc501;
    border-left: 2px solid #ffc501;
    border-bottom: 5px solid #ffffff;
    border-radius: 10px 10px 0px 0px;
    color: black;
    margin-bottom: -5px;
    margin-right: 0px;
}

.tbl-container nav .nav-tabs{
    border-color: #ffc501;
    border-width: 5px;   
}

.tbl-container nav .nav-tabs{
    padding-left: 5px;
}

.tbl-container nav .nav-tabs .active{
    border-top: 2px solid #ffc501;
    border-right: 2px solid #ffc501;
    border-left: 2px solid #ffc501;
    border-radius: 10px 10px 0px 0px;
}


h3{
    font-size: 22px;
}
.tab-content{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}


#btn-create {
    background: #308403;
    border: none;
    margin-bottom: 10px;
  }





